.App {
  text-align: left;
  font-size: 22px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flow-root;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Applist{
  white-space: nowrap;
  /* display: flex; */
  list-style-type: none;
}
ul.Applist{
  display: flex;
  flex-wrap: wrap;
}

.Images{
  background-image: url('Images/image.jpg');
  width: 100%;
  box-shadow: "0 0 8px 8px white inset" 
}

.TitleHeader{
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Navdiv{
  box-sizing: border-box;
  text-align: center;
  width:fit-content;
  padding: 15px;
  margin: 5px;
  border: 2px;
  border-style: solid;
  background-color: #3f5983;
  border-radius: 25px;
  border-style: outset;
  font-size: 20px;
}

table{
  border-collapse: collapse;
  border:3px solid rgb(146, 146, 146);
}
th, td{
  text-align: center;
  border:1px solid rgb(146, 146, 146);
  padding-left: 5px;
  padding-right: 5px;
}
button{
  font-size: 20px;
  cursor:pointer;
  border-radius: 15px;
  padding: 10px;
  background-color: #3f5983;
  color: rgb(207, 207, 207) ;
  color: rgb(105, 255, 163) ;
}
button.SettleScore{
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

button.TitleHeader{
  color: rgb(207, 207, 207);
  border-radius: 25px;
  background-color: #3f5983;
  height:fit-content;
  padding: 15px;
  border-width: 2px;
  margin-left: 10px;
  color: rgb(109, 226, 255);
  font-size: 17px;
}

.ListButton{
  border-width: 1px;
  background-color: #3f5983;
  color: rgb(207, 207, 207);
  font-size: 16px;
}

.SignButton{
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
}
.SignButton:disabled{
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: rgb(90, 90, 90);
  background-color: #283955;
}

.Round{
  box-sizing: border-box;
  text-align: center;
  width: 13%;
  min-width: 170px;
  padding: 20px;
  margin: 5px;
  border: 2px;
  border-style: solid;
  background-color: #3f5983;
  border-radius: 25px;
  border-style: outset;
  font-size: 20px;
}
.RoundBox{
  display: flex;
  flex-wrap: wrap;
}


.SubbmitButton{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #3f5983;
  color: rgb(207, 207, 207) ;
}

.SubbmitButton:disabled{
  padding: 10px;
  border-radius: 15px;
  background-color: #283955;
  color: rgb(90, 90, 90);
  cursor:default;
  margin-top: 10px;
  margin-bottom: 10px;
}

input{
  font-size: 20px;
}

.EventDetails{
  display: flex;
  flex-wrap: wrap;
}

.Register{
  box-sizing: border-box;
  text-align: center;
  width:fit-content;
  padding: 15px;
  margin: 5px;
  border: 2px;
  border-style: solid;
  background-color: #3f5983;
  border-radius: 25px;
  border-style: outset;
  font-size: 20px;
}


.Login{
  font-size: 25px;
  align-items: center;
  align-self: right;
  padding: 20px;
  display: inline-flex;
  color:aquamarine;
}

li{
  box-sizing: border-box;
  text-align: center;
  width: 13%;
  min-width: 170px;
  padding: 20px;
  margin: 5px;
  border: 2px;
  border-style: solid;
  background-color: #3f5983;
  border-radius: 25px;
  border-style: outset;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

a:link {
  color: rgb(109, 226, 255);
}
a:visited {
  color: rgb(109, 226, 255);
}
a:active {
  color: blue;
}

.Settled{
  background-color: lightblue;
  color:#283955;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
